<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Autos</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar-index ">

        </nav>
    </header>

    <div class="logo-centrado">
        <!--<img src="./static/imagenes/logo_Codo.jpg" alt="logo">-->
        <img class="logoCar"
            src="https://us.123rf.com/450wm/themoderncanvas/themoderncanvas2109/themoderncanvas210900008/175067545-logotipo-de-escudo-de-silueta-de-coche-deportivo-signo-de-concesionario-de-veh%C3%ADculos-de-motor-de.jpg"
            alt="logoCar">
    </div>

    <h1>Listado de Autos del Inventario</h1><br>

    <table> <!-- Se crea una tabla para mostrar los Autos. -->
        <thead> <!--Encabezado de la tabla con columnas para código, descripción, cantidad, precio y acciones.-->
            <tr>
                <th>Código</th>
                <th>Color</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody id="tablaAutos"> </tbody>
    </table><br>

    <div class="contenedor-centrado">
        <a href="../templates/crud.html">Menu principal</a>
    </div>

    <footer>
        <!-- TALVEZ SE DEBERIA AGREGAR MAS INFO O MARKETING -->
        <section class="infoMarketing">
            <div class="redes">
                <a href="https://www.facebook.com/concesionaria"><img
                        src="https://cdn-icons-png.flaticon.com/256/124/124010.png" alt="Facebook"></a>
                <a href="https://www.twitter.com/concesionaria"><img
                        src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/concecionaria"><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram"></a>
            </div>
            <h3 class="espaciado3">SOMOS TOP UNO EN VENTAS</h3>
            <img src="https://png.pngtree.com/png-clipart/20221008/original/pngtree-number-1-best-seller-award-badge-png-image_8666630.png"
                alt="topOne">
            <h3 class="espaciado3">SOMOS TOP UNO EN VENTAS</h3>
            <h3>
                La concesionaria que redefine la excelencia. “Autos Prestigio” no es solo un destino, es la cumbre del
                lujo automotriz. Con una selección inigualable de vehículos de alta gama y un servicio al cliente que
                supera todas las expectativas, nos hemos ganado el título de la mejor concesionaria del mundo. Nuestro
                compromiso con la calidad y la satisfacción del cliente es inquebrantable, y cada auto que vendemos es
                una promesa de rendimiento, elegancia y confiabilidad. Descubre la perfección en cada detalle, desde la
                primera bienvenida hasta el servicio posventa. En “Autos Prestigio”, no solo compras un auto; adquieres
                una pieza de la excelencia automotriz.
            </h3>
        </section>
    </footer>
    <script src="../funcionesJS/listado.js"></script>
</body>

</html>